{% extends 'cmibase.html' %}

{% block content %}
<style>
    .custom-form {
        font-size: 1.2rem; /* Increase font size by 20% */
        padding: 2rem; /* Increase padding */
    }
</style>
<div class="container" style="padding-bottom: 10vh;">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow-lg p-5 custom-form">
                <h2 class="mb-4 text-center">Create Secretariat</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_fname">First Name:</label>
                                {{ form.fname }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_lname">Last Name:</label>
                                {{ form.lname }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                      <label for="id_mname">Middle Name:</label>
                      {{ form.mname }}
                    </div>
                    <div class="mb-3">
                      <label for="id_sex">Sex:</label>
                          <select class="form-control" id="id_sex" name="sex">
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                    </div>
                    <div class="mb-3">
                      <label for="id_specialization">Specialization:</label>
                      {{ form.specialization }}
                    </div>
                    <div class="mb-3">
                      <label for="id_position">Position:</label>
                      {{ form.position }}
                    </div>
                    <div class="mb-3">
                      <label for="id_consortium_id">Consortium:</label>
                      {{ form.consortium_id }}
                    </div>
                    <div class="mb-3">
                      <label for="id_organization">Organization:</label>
                      {{ form.organization }}
                    </div>
                    <div class="mb-3">
                      <label for="id_manager">Manager:</label>
                      {{ form.manager }}
                    </div>
                    <div class="mb-3">
                      <label for="id_email_add">Email Address:</label>
                      {{ form.email_add }}
                    </div>
                    <div class="mb-3">
                      <label for="id_contact_no">Contact Number:</label>
                      {{ form.contact_no }}
                    </div>
                    <div class="mb-3">
                      <label for="id_dob">Date of Birth:</label>
                      {{ form.dob }}
                    </div>
                    <div class="mb-3">
                      <label for="id_date_appointed">Date Appointed:</label>
                      {{ form.date_appointed }}
                    </div>
                    <div class="mb-3">
                      <label for="id_bach_deg">Bachelor's Degree:</label>
                      {{ form.bach_deg }}
                    </div>
                    <div class="mb-3">
                      <label for="id_bdyearcompleted ">Year Completed:</label>
                      {{ form.bdyearcompleted  }}
                    </div>
                    <div class="mb-3">
                      <label for="id_mas_deg">Master's Degree:</label>
                      {{ form.mas_deg}}
                    </div>
                    <div class="mb-3">
                      <label for="id_mdyearcompleted ">Year Completed:</label>
                      {{ form.mdyearcompleted  }}
                    </div>
                    <div class="mb-3">
                      <label for="id_doc_deg">Doctorate's Degree:</label>
                      {{ form.doc_deg }}
                    </div>
                    <div class="mb-3">
                      <label for="id_ddyearcompleted">Year Completed:</label>
                      {{ form.ddyearcompleted }}
                    </div>
                    <div class="mb-3">
                      <label for="id_photo">photo:</label>
                      {{ form.photo }}
                    </div>
                    <div class="mb-3">
                      <label for="id_pds_file">PDs:</label>
                      {{ form.pds_file }}
                    </div>
                    <div class="mb-3 float-end">
                        <button type="submit" class="btn btn-success">Add Secretariat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block navbar %}
{% endblock %}
{% endblock content %}