{% load static %}

<style>
   .org-chart {
        position: relative; /* Added position relative for pseudo-elements */
        width: 100%; /* Set width to 100% to prevent wrapping */
    }
    .container li {
        position: relative; /* Added position relative for pseudo-elements */
        display: inline-block; /* Display list items inline */
        vertical-align: top; /* Align list items to top */
    }
   .org-chart ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        white-space: nowrap; /* Prevent wrapping of list items */
    }

   .org-chart li {
        text-align: center;
        list-style-type: none;
        padding: 20px 5px 0 5px;
    }

   .org-chart li::before,.org-chart li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 2px solid #ccc;
        width: 50%;
        height: 20px;
    }

   .org-chart li::after {
        right: auto;
        left: 50%;
        border-left: 2px solid #ccc;
    }

   .org-chart li:only-child::after,.org-chart li:only-child::before {
        display: none;
    }

   .org-chart li:only-child {
        padding-top: 0;
    }

   .org-chart li:first-child::before,.org-chart li:last-child::after {
        border: 0 none;
    }

   .org-chart li:last-child::before {
        border-right: 2px solid #ccc;
        border-radius: 0 5px 0 0;
    }

   .org-chart li:first-child::after {
        border-radius: 5px 0 0 0;
    }

   .org-chart.member {
        border: 1px solid green;
        padding: 10px;
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        width: 150px;
        min-height: 220px;
    }

   .member-photo-container img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    /* New class for indicating single subordinate */
   .org-chart li.single-subordinate::after {
        content: '';
        position: absolute;
        bottom: -10px; /* Adjust this to position the indicator */
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #ccc; /* Adjust color and size as needed */
    }
</style>

<div class="container">
    <div class="org-chart">
        <ul>
            <li {% if subordinates|length == 1 %}class="single-subordinate"{% endif %}>
                <div class="member">
                    <div class="member-photo-container">
                        <img src="{% if member.photo %}{{ member.photo.url }}{% else %}{% static 'assets/img/unknown.jpg' %}{% endif %}" alt="{{ member.lname }}">
                    </div>
                    <h5>{{ member.lname }}, {{ member.fname }}</h5>
                    <h6>{{ member.position }}</h6>
                </div>
                {% if subordinates %}
                    <ul>
                        {% for subordinate, sub_subordinates in subordinates.items %}
                            <li>
                                {% include 'secretariat_member.html' with member=subordinate subordinates=sub_subordinates %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
