{% extends 'cmibase.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding-bottom: 10vh;">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow-lg p-5 custom-form">
                <h2 class="mb-4 text-center">Edit user {{user.username}}</h2>
                <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <div class="form-group mb-3">
            {{ form.non_field_errors }}
            {{ form.errors }}
            {{ form.as_p }}
        </div>
        <div class="mb-3 float-end">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a href="{% url 'accountman' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
<style>
    .custom-form {
        font-size: 1.2rem; /* Increase font size by 20% */
        padding: 2rem; /* Increase padding */
    }
</style>
{% endblock %}
