{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="fade-in">
    <section>
        <div class="container">
            <div class="row">
                    <h1 style="color: #43b14b;">Gallery</h1>
            </div>
            <hr style="border: 2px solid #66b365;">
            <div class="row">
                    <p>please fix this issue</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                    <h1 style="color: #43b14b;">Album</h1>
            </div>
            <hr style="border: 2px solid #66b365;">
            <div class="row">
                <div class="col">
                    <p>please fix this issue</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

