{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>DOST-PCAARD SECRETARIATS</h2>
    <hr class="custom-hr">
    <div class="secretariat-list">
        <div class="org-chart-container">
            <div class="org-chart">
                {% for member, subordinates in dost_hierarchy.items %}
                    {% include 'secretariat_member.html' with member=member subordinates=subordinates %}
                {% endfor %}
            </div>
        </div>
    </div>
    <h2>Consortium SECRETARIATS</h2>
    <hr class="custom-hr">
    <div class="secretariat-list">
        <div class="org-chart-container">
            <div class="org-chart">
                {% for member, subordinates in consortium_hierarchy.items %}
                    {% include 'secretariat_member.html' with member=member subordinates=subordinates %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
    .container h2{
        color: #43b14b;
        font-size: 2rem;
        text-align: center;
    }
    .container .custom-hr{
        border: #43b14b 2px solid;
    }
    .secretariat-list {
        max-width: 100%; /* Set max width to 100% for responsiveness */
        padding: 20px; /* Add some padding for better visibility */
        transform: inherit; /* Add this */
        transform-origin: top;
    }
    
    .org-chart-container {
        display: flex; /* Add this */
        align-items: flex-start; /* Add this */
        transform: scale(1); /* Initial scale, adjust as needed */
        transition: transform 0.3s ease-in-out; /* Smooth scaling */
    }
    
    .org-chart {
        transform-origin: top left; /* Set transform origin to top left */
    }
    @media screen and (max-width: 1025px) {
        .org-chart-container {
            transform-origin: top;
            transform: scale(0.8); /* Initial scale, adjust as needed */
        }
    }
    @media screen and (max-width: 769px) {
        .org-chart-container {
            transform-origin: top;
            transform: scale(0.5); /* Initial scale, adjust as needed */
        }
    }
    @media screen and (max-width: 426px) {
        .org-chart-container {
            transform-origin: top;
            transform: scale(0.35); /* Initial scale, adjust as needed */
        }
    }
</style>

{% endblock %}