{% extends 'cmibase.html' %}

{% block content %}
<style>
    .custom-form {
        font-size: 1.2rem; /* Increase font size by 20% */
        padding: 2rem; /* Increase padding */
    }
</style>
<div class="container" style="padding-bottom: 10vh;">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card shadow-lg p-5 custom-form">
                <h2 class="mb-4 text-center">Create Cluster Member</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_fname">First Name:</label>
                                {{ form.fname }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="id_lname">Last Name:</label>
                                {{ form.lname }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                      <label for="id_mname">Middle Name:</label>
                      {{ form.mname }}
                    </div>
                    <div class="mb-3">
                      <label for="id_position">Position:</label>
                      {{ form.position }}
                    </div>
                    <div class="mb-3">
                      <label for="id_cmi">CMI:</label>
                      {{ form.cmi }}
                    </div>
                    <div class="mb-3">
                      <label for="id_teams">Cluster/Unit:</label>
                      {{ form.teams }}
                    </div>
                    <div class="mb-3">
                      <label for="id_email_add">Email Address:</label>
                      {{ form.email_add }}
                    </div>
                    <div class="mb-3">
                      <label for="id_contact_no">Contact Number:</label>
                      {{ form.contact_no }}
                    </div>
                    <div class="mb-3">
                      <label for="id_date_appointed">Date Appointed:</label>
                      {{ form.date_appointed }}
                    </div>
                    <div class="mb-3">
                      <label for="id_sex">Sex:</label>
                      {{ form.sex }}
                    </div>
                    <div class="mb-3">
                      <label for="id_specialization">Specialization:</label>
                      {{ form.specialization }}
                    </div>
                    <div class="mb-3">
                      <label for="id_photo">Photo:</label>
                      {{ form.photo }}
                    </div>
                    <div class="mb-3">
                      <label for="id_pds_file">PDS File:</label>
                      {{ form.pds_file }}
                    </div>
                    <div class="mb-3 float-end">
                        <button type="submit" class="btn btn-success">Add Cluster Member</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block navbar %}
{% endblock %}
{% endblock content %}